name: CI
on:
  push:
    branches: [main]
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm run ci
      - uses: codecov/codecov-action@v4
        with:
          files: ./apps/**/coverage/lcov.info,./packages/**/coverage/lcov.info
